---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import RoundedFrame from '../components/RoundedFrame.astro';

import Greeting from "../components/greeter";

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My page</h2>
  <RoundedFrame
    title="Example Website"
    src="https://tiberiusbrown.github.io/Ardens/player.html?file=https://github.com/FreezingSnail/Maze-Rider/releases/download/v1.0.0/MazeRider.hex" 
  />
</BaseLayout>
